<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.yingyingmonster.ccs.database.mapper.MenuMapper">
    <select id="selectMenuByCondition" parameterType="team.yingyingmonster.ccs.database.bean.MenuBean" resultType="team.yingyingmonster.ccs.database.bean.MenuBean">
        select * from MENU_TABLE
        <where>
            <if test="menuId != null">and MENUID=#{menuId}</if>
            <if test="menuName != null">and MENUNAME like #{menuName}</if>
            <if test="menuUrl != null">and MENUURL like #{menuUrl}</if>
            <if test="menuState != null">and MENUSTATE=#{menuState}</if>
        </where>
    </select>
    <select id="selectAllMenu" parameterType="team.yingyingmonster.ccs.database.bean.MenuBean" resultType="team.yingyingmonster.ccs.database.bean.MenuBean">
        select * from MENU_TABLE
    </select>

    <insert id="insertMenu" parameterType="team.yingyingmonster.ccs.database.bean.MenuBean">
        insert into MENU_TABLE(MENUID, MENUNAME, MENUURL, MENUSTATE)
        values (#{menuId}, #{menuName}, #{menuUrl}, #{menuState})
    </insert>

    <update id="updateMenu" parameterType="team.yingyingmonster.ccs.database.bean.MenuBean">
        update MENU_TABLE set MENUNAME=#{menuName}, MENUSTATE=#{menuState}, MENUURL=#{menuUrl} where MENUID=#{menuId}
    </update>
</mapper>