<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>健康体检团检系统 - 主页</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/toastr.min.css" rel="stylesheet"/>
    <link href="/assets/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/juer-style.css" rel="stylesheet"/>
</head>
<body>
<!--创建容器-->
<div class="container-fluid">
    <!--创建一个行-->
    <div class="row justify-content-center align-self-center">
        <!--菜单栏-->
        <div class="col-2 p-2" id="menu-box" ng-app="ngApp" ng-controller="leftMenuController">
            <div class="panel-box w-100">
                <div class="panel-group" id="accordion" data-spy="scroll">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title rectangle non-margin btn btn-block btn-primary radius-tl-tr-4"
                                  ng-click="menuClick({menuName: ""})"
                                  data-toggle="collapse"
                                  data-parent="#accordion">
                                关闭所有卡片
                            </span>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div id="default-panel" class="panel-collapse collapse in" ng-repeat="menu in menuList">
                            <div id="default-body" class="panel-body">
                                <button id="btn-adminManager" class="btn btn-block btn-light non-margin rectangle"
                                        ng-click="menuClick(menu)">
                                    按钮:{{menu.menuName}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/assets/scripts/angular.min.js"></script>
<script src="/assets/scripts/jquery.min.js"></script>
<script src="/assets/scripts/bootstrap.min.js"></script>
<script src="/assets/scripts/bootstrap.bundle.min.js"></script>
<script src="/assets/scripts/toastr.min.js"></script>
<script src="/assets/scripts/md5.min.js"></script>
<script src="/assets/scripts/base64.min.js"></script>
<script src="/assets/scripts/juer-script.js"></script>
<script>
    let ngApp = angular.module('ngApp', []);
    ngApp.controller('leftMenuController', function($scope, $http) {
        $scope.menuList = [{menuName: "通用", menuUrl: "#"}];
        $http.post("/common/dummy-menu")
            .then(
                function success(response) {
                    $scope.menuList.length = 0;
                    $scope.menuList.push(response.data);
                    console.log("menuList: ", $scope.menuList);
                }, function error(response) {
                    toastr.error("获取导航栏信息失败,可能是网络原因!");
                });
        $scope.menuClick = function(button) {
            alert(`some button on click!, name is "${button.menuName}", and url is "${button.menuUrl}"`);
        };
    });
</script>
</html>